/* CSS code for the header (the part containing the profile pic) */

.content > header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #80ff80;
  background-image: none;
}

@media (min-width: 1024px) {
  .content > header {
    margin-left: 3%;
    margin-right: 3%;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    margin-top: 5vh;
    max-height: 450px;
    width: 29%;
    position: fixed;
    height: 100%;
    float: left;
  }

}