/* CSS for the top navigation bar that says "Write a new chirp" */

nav.top-bar {
  height: 120px;
  width: 100%;
  background-color: #80ff80;
  color: #4056A1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  padding-left: 5%;
  padding-right: 5%;
}

nav.top-bar a, nav.top-bar button {
  padding: 1.5em;
}

/* Logo */
nav.top-bar a {
  font-family: "Bungee", cursive, sans-serif;
  font-size: 1.5em;
  color: inherit;
  text-decoration: none;
}

/* Remove default button style - write tweet button will have the same styles as the rest of the header */
nav.top-bar button {
  color: inherit;
  background-color: inherit;
  border: none;
}

/* Link to write a new chirp */
nav.top-bar button:hover {
  background-color: yellow;
  color: red;
  cursor: pointer;
}

@media (min-width: 1024px) {
  nav.top-bar {
    background-color: #4056A1;
    color: white;
  }
}