/* CSS for the top navigation bar that says "Write a new chirp" */

nav.top-bar {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.top-bar span {
  padding: 1.5em;
}

#logo {
  font-family: "Bungee", cursive, sans-serif;
}
